@font-face {
    font-family: 'Proxima Nova';
    src: url(/fonts/TikTokFont-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src: url(/fonts/TikTokFont-Regular.woff2) format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src: url(/fonts/TikTokFont-Semibold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }