@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(fonts.css);

html {
    scroll-snap-type: y mandatory;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5e5e5;
    font-family: 'Proxima Nova', sans-serif;
}

.shadow-filter {
    filter: drop-shadow(0, 0, 0, rgba(0, 0, 0, .3));
}